<div class="flex justify-between items-center">
    <h2>Bebidas do Meu Restaurante</h2>
    <%= link_to 'Criar Bebida', new_restaurant_beverage_path(current_user.restaurant), class: 'outline_button' %>
</div>

<% if @beverages.empty? %>
    <p>Ainda não há bebidas cadastradas para o seu restaurante.</p>
<% else %>
    <ul class="mt-10 flex flex-col gap-4 list-disc marker:text-projectPurple list-inside">
        <% @beverages.each do |beverage| %>
            <%= link_to restaurant_beverage_path(@restaurant.id, beverage.id) do %>
                <li class="hover:cursor-pointer hover:underline hover:decoration-projectPurple  hover:decoration-2 hover:underline-offset-2 transition-transform">
                    <span class="font-bold"><%= beverage.name%></span> - <%= I18n.t(beverage.status) %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>
