<h2>Boas vindas ao PaLevá!</h2>

<% if user_signed_in? && current_user.has_restaurant? %>
    <section>
        <p>Meu Restaurante</p>

        <p><%= current_user.restaurant.brand_name%></p>
        <%= link_to 'Horários de Funcionamento', new_restaurant_restaurant_operating_hour_path(current_user.restaurant) %>
    </section>
<% else %>
    <section>
        <p>Para acessar o sistema, faça login ou crie uma conta</p>
        <%= link_to 'Criar Conta', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
    </section>
<% end %>