<h2>Excluir uma Tag</h2>

<%= form_with(url: restaurant_destroy_tag_path(@restaurant.id), method: :delete,  class: 'form') do |f| %>
    <div class="input_container">
        <%= f.label :tag_id, 'Escolha uma Tag para excluir', class: 'input_label' %>
        <%= f.collection_select :tag_id, @tags, :id, :name %>
    </div>

    <%= f.submit 'Excluir Tag', class: 'form_button' %>
<% end %>