<div class="flex justify-between items-center">
    <h2><%= @restaurant.brand_name%> - Cardápios</h2>

    <% if current_user.owner? %>
        <%= link_to '+ Criar Cardápio', new_restaurant_item_option_set_path(@restaurant), class: 'outline_button' %>
    <% end %>
</div>


<% if @item_option_sets.empty? %>
    <p class="mt-10">Ainda não há Cardápios cadastrados para o seu restaurante.</p>
<% else %>
    <ul class="mt-10 flex flex-wrap gap-4">
    <% @item_option_sets.each do |option_set| %>
        <% if !option_set.is_seasonal? || current_user.owner? && option_set.is_seasonal? || current_user.staff? && option_set.is_seasonal? && option_set.is_in_season? %>
            <%= link_to restaurant_item_option_set_path(@restaurant, option_set) do %>
                <li class="border border-projectPurple p-8 rounded-xl hover:bg-projectPurple hover:text-projectWhite transition-all">
                    <p ><%= option_set.name %></p>
                </li>
            <% end %>
        <% end %>
    <% end %>
    </ul>
<% end %>